@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #0c0c0c;
  color: #f5f5f5;
}

.cadastro-container {
  display: flex;
  width: 100%;
}

.cadastro-introducao {
  background-image: url('../../image-assets/cadastro.png');
  background-size: cover;
  background-position: center;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conteudo-introducao h2 {
  font-family: 'Cinzel', serif;
  color: #c6a664;
  font-size: 2rem;
  margin-bottom: 15px;
  text-shadow: 2px 2px 8px #000;

}

.conteudo-introducao p {
  text-shadow: 2px 2px 8px #000;
  font-size: 1rem;
  color: #e0e0e0;
  margin-bottom: 40px;
}

.etapas-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.etapas-cadastro a{
  width: 150px;
}



.etapa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #1a1a1a;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  color: #f5f5f5;
  width: 200px;
  transition: 0.3s;
  text-decoration: none;
}

.etapa:hover {
  background-color: #c6a664;
  color: #0c0c0c;
}

.etapa.ativa {
  background-color: #c6a664;
  color: #0c0c0c;
  cursor: default;
}

.numero {
  background-color: #0c0c0c;
  color: #c6a664;
  border-radius: 50%;
  padding: 5px 10px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.cadastro-formulario {
  width: 45%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
}

.logo {
  width: 80px;
  margin-bottom: 15px;
}

.cadastro-formulario h3 {
  font-family: 'Cinzel', serif;
  color: #c6a664;
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.descricao {
  color: #bdbdbd;
  margin-bottom: 30px;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  max-width: 400px;
}

.formulario label {
  font-size: 0.9rem;
  color: #f5f5f5;
}

.formulario input {
  padding: 10px;
  border: 1px solid #c6a664;
  border-radius: 6px;
  background-color: #0c0c0c;
  color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

.formulario input::placeholder {
  color: #bdbdbd;
}

.formulario input:focus {
  outline: 1px solid #c6a664;
}

button {
  background-color: #c6a664;
  color: #0c0c0c;
  border: none;
  padding: 12px 0;
  border-radius: 6px;
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #e3c979;
}
